{{>carousel element=event}}
<h1>{{event.name}}</h1>
<p>{{event.description}}</p>
<h5>{{event.company.name}} - {{event.location}}</h5>
<h2>{{date event.date}}</h2>
<p>
  {{#each event.category as |category|}}
  {{category}}, 
  {{/each}}
</p>
<h5>{{event.capacity}}</h5>
<h3>{{event.price}}</h3>
{{#if (equals currentUser event)}}
  <a href="/events/edit/{{event.id}}" class="btn btn-success">Edit</a>
{{/if}}
