<div class="d-flex justify-content-between align-items-center">
  <div class="col-8 order-md-1 mt-5">
    
    {{#if event.isNew}}
      <form action="/events/new" method="POST" class="mb-4" enctype="multipart/form-data">
        <div class="form-group">
          <label for="images">Images</label>
          <input name="images" type="file" class="form-control-file " placeholder="Enter images url" multiple>
          {{#if error.images}}
            <div class="invalid-feedback">
              {{error.images.message}}
            </div>
          {{/if}}
        </div>
    {{else}}
      <form action="/events/edit/{{event.id}}" method="POST" class="mb-4" enctype="multipart/form-data"></form>
      <a href="/events/edit/images{{event.id}}" class="btn btn-primary">Change images</a>
    {{/if}}
    <div class="form-group">
      <label for="name">Event Name</label>
      <input name="name" type="text" class="form-control" id="name" placeholder="Enter Name">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <textarea placeholder="Description" name="description" type="text" class="form-control" id="description"
        rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input name="date" type="date" class="form-control {{#if error.date }}is-invalid{{/if}}" id="date"
        placeholder="Enter date" value="{{ event.date }}">

      {{#if error.date}}
        <div class="invalid-feedback">
          {{error.date.message}}
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input name="location" type="text" class="form-control" id="location" placeholder="Location">
    </div>

    <div class="form-group">
      <label for="categories">Categories</label>
      <select name="category">
          {{#each categories as |category|}}
            <option value="{{category}}">{{category}}</option>
          {{/each}}
        </select>
    </div>

    <div class="form-group">
      <label for="capacity">Capacity</label>
      <input name="capacity" type="number" class="form-control" id="capacity" placeholder="Capacity">
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input name="price" type="number" class="form-control" id="price" placeholder="Price">
    </div>

    {{#if event.isNew}}
      <button type="submit" class="btn red-box btn-primary btn-outline btn-sm">
        Create Event
      </button>
    {{else}}
      <button type="submit" class="btn light-blue btn-primary btn-outline btn-sm">
        Edit Event
      </button>
    {{/if}}
    </form>
  </div>

  <div class="col-4">
    <h1 class="red-text">New Event</h1>
    <img src="../images/undraw_start_building_vqhd.svg" style="width:calc(100% - 16px)">
  </div>
</div>
