<div class="line">
  <p>Next event</p>
</div>

{{#if nextEvent}}
  <div class="d-flex justify-content-between">
    <h2 class="d-inline"><a href="/events/{{nextEvent.id}}">{{nextEvent.name}}</a></h2>
    <h6 class="d-inline">{{date nextEvent.date}}</h6>
  </div>
  <p>{{nextEvent.description}}</p>
{{else if (isUser currentUser)}}
  <h4>You are not enrolled to any event!!</h4>
{{else}}
  <h4>You don't any events!!</h4>
{{/if}}
