<div>
  <h1>Search</h1>
  {{> searchForm}}
</div>
{{#if events}}
  {{#each events as |event|}}
    <div class="events card container">
      <div class="d-flex justify-content-between">
        <div class="d-inline">
          <a href="/events/{{event.id}}">{{event.name}}  - {{event.company.name}} ({{event.location}})</a>
          <p>{{event.description}}</p>
        </div>
        <div class="d-inline">
          <h6>{{date event.date}}</h6>
          {{#if (isUser ../currentUser)}}
            {{#if (isEnrolled ../enrolls event)}}
              <button class="btn btn-primary enroll" id="{{event.id}}" onclick="enroll(event)">Enrolled</button>
            {{else}}
              <button class="btn btn-primary enroll" id="{{event.id}}" onclick="enroll(event)">Enroll</button>
            {{/if}}
          {{/if}}
        </div>
      </div>

    </div>
  {{/each}}
{{else}}
  <h3>No events found</h3>
{{/if}}
